{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>My Blog</h1>

{% for post in posts %}
    <div style="border:1px solid black; padding:10px; margin:10px;">
        <h2>
            <a href="/post/{{ post.id }}/">
                {{ post.title }}
            </a>
        </h2>
         {% if post.image %}
            <img src="{{ post.image.url }}" width="200">
        {% endif %}
        <p>{{ post.content|truncatewords:20 }}</p>
    </div>
{% endfor %}
{% if user.is_authenticated %}
    <p>Welcome {{ user.username }}</p>
     <form action="/accounts/logout/" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% endif %}
</body>
</html>